.header {
  height: 60px;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
  line-height: 60px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}
.logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  left: 20px;
  cursor: pointer;
}
.sys-name {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
}
.logo {
  width: 30px;
  height: 30px;
}
