{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": false
        },
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {}
      }
    ]
  ],
  "plugins": [
    [
      "import", {
        "libraryName": "antd",
        "style": true
      }
    ],
    ["@babel/plugin-proposal-decorators", {
      "decoratorsBeforeExport": false
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }]
  ]
}
